{% extends 'base.html.twig' %}

{% block title %}Product Controller{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>Product Create</h1>

    {{ form_errors(productCreateForm) }}

    {{ form_start(productCreateForm) }}
        {{ form_widget(productCreateForm) }}

        <button type="submit" class="btn">Create</button>
    {{ form_end(productCreateForm) }}
{% endblock %}
