{% extends 'index.html.twig' %}

{% block title %}
    Movies Page2
{% endblock %}

{% block body %}

    {# can not use variables from extended file #}

    {% if title|default(null) %}
        <p>{{ title }}</p>
    {% else %}
        <p>Woops something went wrong...</p>
    {% endif %}

    {% for movie in movies %}
        <li>{{ movie }}</li>
    {% endfor %}

    {{ _self }}
    {{ _charset }}
    {{ author }}
{% endblock %}