{% extends 'base.html.twig' %}

{% block title %}Category Controller{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>Category Create</h1>

    {{ form_errors(categoryCreateFrom) }}

    {{ form_start(categoryCreateFrom) }}
        {{ form_widget(categoryCreateFrom) }}

        <button type="submit" class="btn">Create</button>
    {{ form_end(categoryCreateFrom) }}
{% endblock %}
