{% extends 'base.html.twig' %}

{% block title %}Category Controller{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="example-wrapper">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Parent</th>
                    <th scope="col">Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <th scope="row">{{ category.getId() }}</th>
                        <td>
                            <img style="height: 35px"
                                {% set image = category.getImage() %}
                                src="{{ image.getPath() ~ '/' ~ image.getName() ~ '.' ~ image.getType() }}" 
                                alt="{{ image.getName() }}">
                        </td>
                        <td>{{ category.getParent() ? category.getParent().getId() : '' }}</td>
                        <td>{{ category.getName() }}</td>
                        <td>
                            <a href="{{ path('app_admin_category_delete', { 'id': category.getId() }) }}">DELETE</a>
                            <a href="{{ path('app_admin_category_update', { 'id': category.getId() }) }}">UPDATE</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
