{% extends 'base.html.twig' %}

{% block title %}Category Controller{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>Category Update</h1>

    {{ form_errors(categoryUpdateForm) }}

    {{ form_start(categoryUpdateForm) }}
        {{ form_widget(categoryUpdateForm) }}

        <button type="submit" class="btn">Update</button>
    {{ form_end(categoryUpdateForm) }}
{% endblock %}
